.app-layout {
  
  .app-side {
    width: 51px;
    padding: 1px;
    box-shadow: 0 0 10px -4px #cfcfcf;
  }

  .logo {
    margin: 4px;
    background-color: var(--main-color);
    box-shadow: 0 0 4px var(--main-color);
    border-radius: 50px;
    font-weight: bolder;
    color: white;
  }

  .menu-item {
    position: relative;
    padding-bottom: 100%;
    font-size: 19px;
    color: #999;

    &.active {
      color: var(--main-color);

    }

    .inner-box,
    .logo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .inner-box {
      margin: 4px;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 1px var(--main-color);
      }
    }
  }

  .app-main {
    position: relative;
  }

  .app-header {
    height: 50px;
    box-shadow: 0 0 10px -4px #cfcfcf;
  }

  .app-content {
    height: calc(100% - 50px);
    overflow: auto;
  }
}
